.content {
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 2rem;
    color: rgb(201, 196, 196);
    font-weight: 500;
}

.table {
    margin-top: .8rem;
    width: 100%;
}

.edit {
    color: rgb(23, 187, 23);
}

.delete {
    color: rgb(202, 28, 28);
    margin-left: 1rem;
}

.mat-header {
    width: 5rem;
}

.books {
    margin-left: .6rem;
}